{% extends "base.html" %}
{% include "header.html" %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
 
            <div class="jumbotron p-3">
 
                <h2>Please <b>write your goal here </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New GOAL!</button> </h2>

                <table class="table table-hover table-dark">
 
                    <tr>
 
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
 
                    </tr>

                    <tr>
                        <td>01</td>
                        <td>Rach</td>
                        <td>rach@gmail</td>
                        <td>098765</td>

                        <td> 
                            <td>
                                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
     
     
                            </td>
                        </td>
                    
                    </tr> 

                </table>

            </div>
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                   <div class="modal-content">
                      <div class="modal-header">
              
              
                         <h4 class="modal-title">Add Employee</h4>
                      </div>
              
              
                      <div class="modal-body">
              
              
                         <form action="" method="POST">
              
              
                            <div class="form-group">
              
              
                               <label>Name:</label>
                               <input type="text" class="form-control" name="name" required="1">
              
              
                            </div>

                            <div class="form-group">
 
 
                                <label>Email:</label>
               
                                <input type="email" class="form-control" name="email" required="1">
               
               
                             </div>
               
               
                             <div class="form-group">
               
               
                                <label>Phone:</label>
               
                                <input type="number" class="form-control" name="phone" required="1">
               
               
                             </div>
               
               
                             <div class="form-group">
               
               
                                <button class="btn btn-primary" type="submit">Add Employee</button>
               
               
                             </div>
                         </form>
 
 
                        </div>
                
                
                        <div class="modal-footer">
                
                
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                
                        </div>
        </div>
    </div>
</div>
{% endblock %}