{% extends "base.html" %}
{% include "header.html" %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
 
            <div class="jumbotron p-3">
 
                <h2>Please <b>write your goal here </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New GOAL!</button> </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}